name: docs
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build_sphinx_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # Need to clone everything for the git tags.
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: "setup.cfg"

      - name: Install graphviz
        run: sudo apt-get install graphviz

      - name: Update pip/wheel infrastructure
        run: |
          python -m pip install --upgrade pip uv
          uv pip install --system wheel

      - name: Install dependencies
        run: |
          uv pip install --system -r requirements.txt

      - name: Build and install
        run: uv pip install --system --no-deps -v .

      - name: Install documenteer
        run: uv pip install --system -r doc/requirements.txt

      - name: Build documentation
        working-directory: ./doc
        run: package-docs build -n -W

      - name: Landing page upload
        if: ${{ github.event_name == 'push' }}
        uses: lsst-sqre/ltd-upload@v1
        with:
          project: 'astro-metadata-translator'
          dir: 'doc/_build/html'
          password: ${{ secrets.LTD_PASSWORD }}
          username: ${{ secrets.LTD_USERNAME }}
